@import "./color.scss";

/* 清除浮动 */
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.cs-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cs-left {
  float: left;
}

.cs-right {
  float: right;
}

.cs-pointer {
  cursor: pointer;
}